# Final Report

In [95]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete copy.csv"
student_data_to_load = "Resources/students_complete copy.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## 1. District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [96]:
#Total number of schools
unique = school_data_complete_df["school_name"].unique()
unique
unique_count_schools=len(unique)
unique_count_schools

15

In [97]:
#Total number of students
total_number_students = len(school_data_complete_df)
total_number_students

39170

In [98]:
#Total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [99]:
#Average Math Score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [100]:
#Average Reading Score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [101]:
#Percentage of students passing math score
math_pass = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :]
math_pass_percentage = len(math_pass)/total_number_students*100
math_pass_percentage

74.9808526933878

In [102]:
#Percentage of students passing reading score
reading_pass = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :]
reading_pass_percentage = len(reading_pass)/total_number_students*100
reading_pass_percentage

85.80546336482001

In [103]:
#Overall Passing Rate (Overall Average Score)
overall_passing = (average_math_score + average_reading_score)/2
overall_passing

80.43160582078121

In [104]:
#Print out Summary in Dataframe
summary_df = pd.DataFrame({"Total Schools": [unique_count_schools],
             "Total Students": [total_number_students],
             "Total Budget": [total_budget],
             "Average Math Score": [average_math_score],
             "Average Reading Score": [average_reading_score],
             "% Passing Math": [math_pass_percentage],
             "% Passing Reading": [reading_pass_percentage],
             "% Overall Passing Rate": [overall_passing]})

summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,80.431606

## 2. School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [126]:
#GroupBy School
grouped_school_df = school_data_complete_df.groupby("school_name")
total_students=grouped_school_df["Student ID"].count()
total_students.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [106]:
grouped_school_df = school_data_complete_df.groupby("school_name")
school_type=grouped_school_df["type"].unique()
school_type.head(15)

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [107]:
grouped_school_df = school_data_complete_df.groupby("school_name")
budget_school=grouped_school_df["budget"].unique()
budget_school.head(15)

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [129]:
new=pd.merge(budget_school, total_students, on="school_name")
new.head()
budget_per_student=new["budget"]/new["Student ID"]
budget_per_student.head(15)

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

## 3. Top Performing Schools (By Passing Rate)
* Sort and display the top five schools in overall passing rate

## 4. Bottom Performing Schools (By Passing Rate)
* Sort and display the five worst-performing schools

## 5. Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## 6. Reading Scores by Grade
* Perform the same operations as above for reading scores

## 7. Scores by School Spending
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## 8. Scores by School Size
* Perform the same operations as above, based on school size.

## 9. Scores by School Type
* Perform the same operations as above, based on school type.

## 10. Observable Trends based on Data