# Final Report

In [120]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete copy.csv"
student_data_to_load = "Resources/students_complete copy.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## 1. District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [121]:
#Total number of schools
unique = school_data_complete_df["school_name"].unique()
unique
unique_count_schools=len(unique)
unique_count_schools

15

In [122]:
#Total number of students
total_number_students = len(school_data_complete_df)
total_number_students

39170

In [123]:
#Total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [124]:
#Average Math Score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [125]:
#Average Reading Score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [126]:
#Percentage of students passing math score
math_pass = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :]
math_pass_percentage = len(math_pass)/total_number_students*100
math_pass_percentage

74.9808526933878

In [127]:
#Percentage of students passing reading score
reading_pass = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :]

reading_pass_percentage = len(reading_pass)/total_number_students*100
reading_pass_percentage

85.80546336482001

In [128]:
#Overall Passing Rate (Overall Average Score)
overall_passing = (average_math_score + average_reading_score)/2
overall_passing

80.43160582078121

In [129]:
#Print out Summary in Dataframe
summary_df = pd.DataFrame({"Total Schools": [unique_count_schools],
             "Total Students": [total_number_students],
             "Total Budget": [total_budget],
             "Average Math Score": [average_math_score],
             "Average Reading Score": [average_reading_score],
             "% Passing Math": [math_pass_percentage],
             "% Passing Reading": [reading_pass_percentage],
             "% Overall Passing Rate": [overall_passing]})

summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,80.431606

## 2. School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [150]:
#GroupBy School
grouped_school_df = school_data_complete_df.groupby("school_name")

total_students=grouped_school_df["Student ID"].count()
total_students.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [131]:
grouped_school_df = school_data_complete_df.groupby("school_name")
school_type=grouped_school_df["type"].unique()
school_type.head(15)

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [154]:
grouped_school_df = school_data_complete_df.groupby("school_name")
grouped_school_df.head()
#budget_school=grouped_school_df["budget"].unique()
#budget_school.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [133]:
new=pd.merge(budget_school, total_students, on="school_name")
budget_per_student=new["budget"]/new["Student ID"]
budget_per_student.head(15)

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [134]:
#Average Math Score
grouped_school_df = school_data_complete_df.groupby("school_name")
average_math=grouped_school_df["math_score"].mean()
average_math.head(15)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [135]:
#Average Reading Score
grouped_school_df = school_data_complete_df.groupby("school_name")
average_reading=grouped_school_df["reading_score"].mean()
average_reading.head(15)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [136]:
#Math Pass per school absolut
math_pass2 = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :]
math_pass_grouped = math_pass2.groupby(["school_name"]) #absolut nr of students that pass per school
math_pass_count = math_pass_grouped.count()

#Math Pass per school percent
percent_math_pass_perschool=math_pass_count["Student ID"]/total_students*100
percent_math_pass_perschool.head(15)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [137]:
#Reading Pass per school absolut
reading_pass2 = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :]
reading_pass_grouped = reading_pass2.groupby(["school_name"]) #absolut nr of students that pass per school
reading_pass_count = reading_pass_grouped.count()

#Reading Pass per school percent
percent_reading_pass_perschool=reading_pass_count["Student ID"]/total_students*100
percent_reading_pass_perschool.head(15)

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [138]:
#Overall Passing Rate (Average of the above two)
overall_passing_perschool=(percent_math_pass_perschool+percent_reading_pass_perschool)/2
overall_passing_perschool.head(15)

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [140]:
summary_school=pd.concat([school_type, total_students, budget_school, budget_per_student, average_math, average_reading, percent_math_pass_perschool, percent_reading_pass_perschool, overall_passing_perschool], axis=1)
summary_school.head()

,type,Student ID,budget,0,math_score,reading_score,Student ID,Student ID,Student ID
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668

In [161]:
summary_renamed=summary_school.rename(columns={summary_school.columns[0]:"School Type", summary_school.columns[1]:"Students Total", summary_school.columns[2]:"Total School Budget", summary_school.columns[3]:"Per Student Budget", summary_school.columns[4]:"Average Math Score", summary_school.columns[5]:"Average Reading Score", summary_school.columns[6]:"% Passing Math", summary_school.columns[7]:"% Passing Reading", summary_school.columns[8]:"% Overall Passing"})
summary_renamed.columns
summary_renamed.columns =['School Type', 'Student Total', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       'XY', '% Overall Passing', '% Overall Passing']
summary_renamed.head()

,School Type,Student Total,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,XY,% Overall Passing,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668

## 3. Top Performing Schools (By Passing Rate)
* Sort and display the top five schools in overall passing rate

## 4. Bottom Performing Schools (By Passing Rate)
* Sort and display the five worst-performing schools

## 5. Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## 6. Reading Scores by Grade
* Perform the same operations as above for reading scores

## 7. Scores by School Spending
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## 8. Scores by School Size
* Perform the same operations as above, based on school size.

## 9. Scores by School Type
* Perform the same operations as above, based on school type.

## 10. Observable Trends based on Data